In [46]:
# import numpy and pandas

import numpy as np 
import pandas as pd 
import seaborn as sns

from my_modules import my_functions as mybib
from my_modules import lab_functions as lab

# change the color palette for seaborn functions
sns.set_theme(palette = "crest")

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Concatenate Numerical and Categorical dataframes into one dataframe called data. Split into X=features y=target.

In [47]:
cat_df = pd.read_csv('data/input/categorical_df.csv')
num_df = pd.read_csv('data/input/numerical_df.csv')

display(cat_df)
display(num_df)

data = pd.concat([cat_df, num_df], axis=1)
data

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate,L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal,L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal,L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate,L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal,L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal,L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate,L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate,L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal,L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate,L3,Offer4,Call Center,Two-Door Car,Medsize

,customer_lifetime_value,income,monthly_premium_costs,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,...,vehicle_class,vehicle_size,customer_lifetime_value,income,monthly_premium_costs,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate,L3,...,Two-Door Car,Medsize,2763.519279,56274,69,32,5,0,1,384.811147
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal,L3,...,Four-Door Car,Medsize,6979.535903,0,94,13,42,0,8,1131.464935
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal,L3,...,Two-Door Car,Medsize,12887.431650,48767,108,18,38,0,2,566.472247
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate,L2,...,SUV,Medsize,7645.861827,0,106,18,65,0,7,529.881344
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal,L1,...,Four-Door Car,Medsize,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal,L1,...,Four-Door Car,Medsize,23405.987980,71941,73,18,89,0,2,198.234764
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate,L3,...,Four-Door Car,Medsize,3096.511217,21604,79,14,28,0,1,379.200000
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate,L2,...,Four-Door Car,Medsize,8163.890428,0,85,9,37,3,2,790.784983
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal,L2,...,Four-Door Car,Large,7524.442436,21941,96,34,3,0,3,691.200000
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate,L3,...,Two-Door Car,Medsize,2611.836866,0,77,3,90,0,1,369.600000

#### Split into X=features y=target and import sklearn train_test_split and separate the data.

In [48]:
X = data.drop('total_claim_amount', axis=1)
y = data['total_claim_amount']

from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.columns

Index(['state', 'response', 'coverage', 'education', 'employmentstatus',
       'gender', 'location_code', 'marital_status', 'policy_type', 'policy',
       'renew_offer_type', 'sales_channel', 'vehicle_class', 'vehicle_size',
       'customer_lifetime_value', 'income', 'monthly_premium_costs',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies'],
      dtype='object')

In [49]:
X_train_num = X_train.select_dtypes(include=np.number)
X_train_num 

from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(X_train_num)

from sklearn.preprocessing import OneHotEncoder
X_train_cat_oneHot = X_train[['state','marital_status', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'response', 'gender']]
encoder = OneHotEncoder().fit(X_train_cat_oneHot)

X_train

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,...,sales_channel,vehicle_class,vehicle_size,customer_lifetime_value,income,monthly_premium_costs,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
5123,Washington,No,Basic,Bachelor,Employed,M,Urban,Married,Personal,L3,...,Agent,Two-Door Car,Medsize,4768.955924,51144,61,28,32,1,9
7738,Oregon,No,Extended,College,Unemployed,F,Suburban,Single,Special,L2,...,Branch,Four-Door Car,Medsize,2827.559570,0,79,30,25,0,1
214,Arizona,No,Basic,College,Employed,M,Suburban,Divorced,Personal,L1,...,Agent,Four-Door Car,Small,2912.892035,81097,74,7,67,0,1
8580,California,No,Basic,Bachelor,Employed,F,Urban,Married,Corporate,L3,...,Web,Four-Door Car,Medsize,5138.244998,72264,64,2,66,0,9
7857,Washington,No,Basic,Bachelor,Employed,F,Suburban,Single,Personal,L3,...,Web,Four-Door Car,Medsize,2610.369217,54737,66,3,86,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,California,No,Basic,College,Employed,F,Suburban,Divorced,Personal,L3,...,Agent,Four-Door Car,Small,7334.328083,87957,61,31,63,0,2
5191,California,Yes,Basic,College,Other,M,Suburban,Married,Personal,L3,...,Branch,Four-Door Car,Medsize,5498.940679,22520,73,17,64,0,3
5390,California,No,Extended,High School or Below,Unemployed,F,Suburban,Single,Personal,L1,...,Call Center,SUV,Medsize,8992.779137,0,129,13,4,0,7
860,Arizona,Yes,Extended,Bachelor,Unemployed,F,Suburban,Divorced,Personal,L3,...,Call Center,SUV,Medsize,14635.451580,0,139,5,56,0,2
7270,Arizona,No,Extended,Bachelor,Employed,M,Urban,Married,Corporate,L2,...,Branch,Four-Door Car,Medsize,3349.639274,78092,84,34,13,0,1

In [50]:
def process_data(X, MinMaxScaler, OneHotEncoder):
    # num columns 
    X_num = X.select_dtypes(include=np.number)
    # onehot columns 
    X_oneHot = X[['state','marital_status', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'response', 'gender']]
    # ordinal columns 
    X_ordinal = X[['coverage', 'employmentstatus', 'location_code', 'vehicle_size', 'education']]
    

    # transform data 
    X_num_encoded = pd.DataFrame(MinMaxScaler.transform(X_num))
    X_oneHot_encoded = OneHotEncoder.transform(X_oneHot)
    X_oneHot_encoded = pd.DataFrame(X_oneHot_encoded.toarray(), columns=encoder.get_feature_names_out(X_oneHot.columns))    
    
    X_ordinal['coverage'] = X_ordinal['coverage'].map({'Basic':0, 'Extended':0.5, 'Premium':1})
    X_ordinal['employmentstatus'] = X_ordinal['employmentstatus'].map({'Employed':0, 'Unemployed':0.5, 'Other':1})
    X_ordinal['location_code'] = X_ordinal['location_code'].map({'Suburban':0, 'Rural':0.5, 'Urban':1})
    X_ordinal['vehicle_size'] = X_ordinal['vehicle_size'].map({'Small':0, 'Medsize':0.5, 'Large':1})
    X_ordinal['education'] = X_ordinal['education'].map({'High School or Below':0, 'College':0.25, 'Bachelor':0.5, 'Master':0.75, 'Doctor':1})
    X_ordinal = X_ordinal.reset_index(drop=True)

    # concat encoded data
    X_encoded = pd.concat([X_num_encoded, X_oneHot_encoded, X_ordinal], axis=1)
    X_encoded.columns = X_encoded.columns.astype(str) 
    
    return X_encoded

X_train = process_data(X_train, transformer, encoder)
X_test = process_data(X_test, transformer, encoder)

display(X_train, X_test)

C:\Users\Domen\AppData\Local\Temp\ipykernel_33572\1808541941.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ordinal['coverage'] = X_ordinal['coverage'].map({'Basic':0, 'Extended':0.5, 'Premium':1})
C:\Users\Domen\AppData\Local\Temp\ipykernel_33572\1808541941.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ordinal['employmentstatus'] = X_ordinal['employmentstatus'].map({'Employed':0, 'Unemployed':0.5, 'Other':1})
C:\Users\Domen\AppData\Local\Temp\ipykernel_33572\1808541941.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ordinal['location_code'] = X_ordinal['location_code'].map({'Suburban':0, 'Rural':0.5, 'Urban':1})
C:\Users\Domen\AppData\Local\Temp\ipykernel_33572\1808541941.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ordinal['vehicle_size'] = X_ordinal['vehicle_size'].map({'Small':0, 'Medsize':0.5, 'Large':1})
C:\Users\Domen\AppData\Local\Temp\ipykernel_33572\1808541941.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ordinal['education'] = X_ordinal['education'].map({'High School or Below':0, 'College':0.25, 'Bachelor':0.5, 'Master':0.75, 'Doctor':1})
C:\Users\Domen\AppData\Local\Temp\ipykernel_33572\1808541941.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ordinal['coverage'] = X_ordinal['coverage'].map({'Basic':0, 'Extended':0.5, 'Premium':1})
C:\Users\Domen\AppData\Local\Temp\ipykernel_33572\1808541941.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ordinal['employmentstatus'] = X_ordinal['employmentstatus'].map({'Employed':0, 'Unemployed':0.5, 'Other':1})
C:\Users\Domen\AppData\Local\Temp\ipykernel_33572\1808541941.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ordinal['location_code'] = X_ordinal['location_code'].map({'Suburban':0, 'Rural':0.5, 'Urban':1})
C:\Users\Domen\AppData\Local\Temp\ipykernel_33572\1808541941.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ordinal['vehicle_size'] = X_ordinal['vehicle_size'].map({'Small':0, 'Medsize':0.5, 'Large':1})
C:\Users\Domen\AppData\Local\Temp\ipykernel_33572\1808541941.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ordinal['education'] = X_ordinal['education'].map({'High School or Below':0, 'College':0.25, 'Bachelor':0.5, 'Master':0.75, 'Doctor':1})

,0,1,2,3,4,5,6,state_Arizona,state_California,state_Nevada,...,vehicle_class_Two-Door Car,response_No,response_Yes,gender_F,gender_M,coverage,employmentstatus,location_code,vehicle_size,education
0,0.035258,0.511537,0.000000,0.800000,0.323232,0.2,1.000,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.5,0.50
1,0.011416,0.000000,0.075949,0.857143,0.252525,0.0,0.000,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.5,0.5,0.0,0.5,0.25
2,0.012464,0.811124,0.054852,0.200000,0.676768,0.0,0.000,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.25
3,0.039793,0.722777,0.012658,0.057143,0.666667,0.0,1.000,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.5,0.50
4,0.008748,0.547474,0.021097,0.085714,0.868687,0.0,0.000,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.5,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,0.066763,0.879737,0.000000,0.885714,0.636364,0.0,0.125,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.25
7303,0.044223,0.225243,0.050633,0.485714,0.646465,0.0,0.250,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.5,0.25
7304,0.087130,0.000000,0.286920,0.371429,0.040404,0.0,0.750,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.5,0.5,0.0,0.5,0.00
7305,0.156427,0.000000,0.329114,0.142857,0.565657,0.0,0.125,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.5,0.5,0.0,0.5,0.50
7306,0.017827,0.781068,0.097046,0.971429,0.131313,0.0,0.000,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.5,0.0,1.0,0.5,0.50

,0,1,2,3,4,5,6,state_Arizona,state_California,state_Nevada,...,vehicle_class_Two-Door Car,response_No,response_Yes,gender_F,gender_M,coverage,employmentstatus,location_code,vehicle_size,education
0,0.028548,0.745992,0.189873,0.028571,0.494949,0.0,0.000,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.5,0.5,0.00
1,0.044412,0.232224,0.042194,0.200000,0.101010,0.0,0.375,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.5,0.00
2,0.023458,0.949210,0.139241,0.085714,0.383838,0.0,0.000,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.5,0.0,0.0,0.0,0.25
3,0.073892,0.771677,0.160338,0.085714,0.272727,0.2,0.500,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.5,0.0,1.0,0.5,0.25
4,0.074099,0.237735,0.033755,0.514286,0.141414,0.0,0.125,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,0.083396,0.591092,0.206751,0.885714,0.737374,0.0,0.250,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.5,0.25
1823,0.070315,0.699133,0.012658,0.657143,0.686869,0.0,0.125,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.5,1.0,0.00
1824,0.033925,0.898511,0.232068,0.685714,0.111111,0.0,0.000,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.5,0.5,0.50
1825,0.002350,0.000000,0.008439,0.857143,0.060606,0.2,0.000,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.5,0.0,0.0,0.00
1826,0.175063,0.000000,0.202532,0.342857,0.666667,0.0,0.125,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.5,0.0,1.0,0.25

In [51]:
X_train_encoded.to_csv("data/output/test.csv", index=False)

#### 6. Try a simple linear regression with all the data to see whether we are getting good results.

In [52]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression() # create model 
LR.fit(X_train_encoded, y_train) # fit model

LinearRegression()

In [53]:
print('X_train:')
mybib.predict_data_and_validate_model(X_train, y_train, LR)
print('X_test')
mybib.predict_data_and_validate_model(X_test, y_test, LR)

X_train:
The r2 score is: 0.63.
The MSE is: 31630.316.
The RMSE is: 177.849.
The MAE is: 127.38.


X_test
The r2 score is: 0.602.
The MSE is: 31658.097.
The RMSE is: 177.927.
The MAE is: 129.327.

In [54]:
def predict_data_and_validate_model(X, y, model):
    y_predicted = model.predict(X)
    from sklearn.metrics import mean_squared_error as mse
    from sklearn.metrics import mean_absolute_error as mae
    
    r2 = round(model.score(X, y), 3)
    mse = round(mse(y_predicted, y), 3)
    mae = round(mae(y_predicted, y), 3)
    
    print ('The r2 score is: {}.'.format(r2))
    print ('The MSE is: {}.'.format(mse))
    print ('The RMSE is: {:.3f}.'.format(mse**.5))
    print ('The MAE is: {}.'.format(mae))
    print ('\n')
    
    return

In [55]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor

models = ['LinearRegression', 'KNeighborsRegressor', 'MLPRegressor']

In [59]:
def train_test_all_models(X, X_test, y, y_test, models):
    counter = 0
    for model in models: 
        counter += 1 
        current_model = eval(model + "()") # create model 
        current_model.fit(X, y) # fit model
        
        y_predicted = current_model.predict(X)
        y_test_predicted = current_model.predict(X_test)
        
        
        from sklearn.metrics import mean_squared_error as mse
        from sklearn.metrics import mean_absolute_error as mae
        
        r2 = round(current_model.score(X, y), 3)
        
        print (f'Model {counter}:')
        print ('The train r2 score is: {}.'.format(r2))

        r2 = round(current_model.score(X_test, y_test), 3)

        print ('The test r2 score is: {}.'.format(r2))
        print ('\n')
        
train_test_all_models(X_train, X_test, y_train, y_test, models)

Model 1:
The train r2 score is: 0.63.
The test r2 score is: 0.602.


Model 2:
The train r2 score is: 0.628.
The test r2 score is: 0.424.


Model 3:
The train r2 score is: 0.63.
The test r2 score is: 0.598.

C:\Users\Domen\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:684: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(